<!DOCTYPE html>
<html lang="en">


@Html.Partial("~/Themes/VS-1/Partials/_Head.cshtml")
@RenderSection("css", required: false)

<body container-fluid>

   
        @Html.Partial("~/Themes/VS-1/Partials/_Header.cshtml")


        <div id="page-container" class="row make-row-eq-height">
            <main class="col-xs-12 col-sm-9 col-md-9">
                <article>
                   @RenderBody()
                </article>
            </main>

            <aside class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                @RenderSection("sidebar2", required: false)
                @Html.Partial("~/Themes/VS-1/Widgets/_Widget1.cshtml")
            </aside>
        </div>


        <footer class="row">

            <p class="col-xs-12 col-sm-12 col-md-12">
                © Copyright @DateTime.Now.Year, <a href="http://Kbdavis07.Com" title="Brian Keith Davis (Kbdavis07.Com)">Brian Keith Davis</a>.
                Website Developed & Design by <a href="http://twitter.com/kbdavis07" title="Brian Keith Davis (Kbdavis07)"> kbdavis07 </a>
                 @*Width:<span id="width"></span> Height:<span id="height"> </span>*@
            </p>

             
        </footer>




        <!----------------------------------End of Page--------------------------------------------------------------------------------------------------------->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


        
        <script src="~/Themes/VS-1/js/tools.js"></script>

</body>
</html>