<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!---Fav Icon Files------------------------------------------------------------------------------------------------>
    <link rel="apple-touch-icon" sizes="57x57" href="../Content/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../Content/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Content/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../Content/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Content/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../Content/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../Content/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../Content/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../Content/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../Content/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Content/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../Content/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Content/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../Content/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../Content/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!---------------------------------------------------------------------------------------------------------------->

    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="subject" content="@ViewBag.Subject">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Brian Keith Davis, kbdavis07@yahoo.com">

    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@


    <!-- Bootstrap -->
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/css/Elegant.css" rel="stylesheet" />
    <link href="../Content/css/header.css" rel="stylesheet" />
    <link href="../Content/css/Theme.css" rel="stylesheet" />
    <link href="~/Content/css/Computer.css" rel="stylesheet" />




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
