<header class="row" itemscope="itemscope" itemtype="http://schema.org/Person">

    <div id="Pic" class="col-xs-12 col-md-1">
        <img data-src="holder.js/100x100" alt="Brian Keith Davis"
             src="https://secure.gravatar.com/avatar/fb1016f89aaf56e0137d00ccc040c75e?s=64"
             itemprop="image" class="media-object img-circle center-block profile-pic" />

    </div>

    <div id="header-info" class="col-xs-12 col-sm-6 col-md-4">

        <p itemprop="name"><b>Brian Keith Davis</b></p>
        <p itemprop="jobTitle">Asp.Net C# MVC Web Application Developer</p>


        <a href="https://www.linkedin.com/in/kbdavis07" target="_blank" rel="tooltip" title="LinkedIn"
           class="fs-2x social-link link-linkedin icon-linkedin"></a>

        <a href="https://github.com/kbdavis07" target="_blank" rel="tooltip" title="GitHub"
           class="fs-2x social-link link-github icon-github"></a>

        <a href="https://bitbucket.org/kbdavis07/" target="_blank" rel="tooltip" title="BitBucket"
           class="fs-2x social-link link-bitbucket icon-bitbucket"></a>

        <a href="http://stackoverflow.com/users/783230/kbdavis07" target="_blank" rel="tooltip" title="StackOverFlow"
           class="fs-2x social-link link-stackoverflow icon-stackoverflow"></a>

        <a href="http://twitter.com/kbdavis07" target="_blank" rel="tooltip" title="Twitter"
           class="fs-2x social-link link-twitter icon-twitter"></a>

        <a href="skype:kbdavis07?call" target="_blank" rel="tooltip" title="Skype"
           class="fs-2x social-link link-skype icon-skype"></a>


    </div>

    <div id="desktop" class="col-xs-12 col-sm-2 col-md-1">
        <div class="desktop">
            <div class="screen monitor">
                <div class="content">
                    <img id="vs" src="../img/Desktop/vs-edited.png" />
                    <img id="taskbar" src="../img/Desktop/taskbar.png" />
                    <div class="pg"></div>
                </div>
                <div class="base">
                    <div class="grey-shadow"></div>
                    <div class="foot top"></div>
                    <div class="foot bottom"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="nav" class="row">
    <nav class="navbar navbar-default">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                    <li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>
                    <li>@Html.ActionLink("Hire", "Hire", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Me", "Contact")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div> <!--Row-->